*{
    box-sizing:border-box;
}
#quest{
    font-family: 'Caveat', cursive;
    font-size:6em;
}

#wrong, #correct{
    width:90%;
    height:300px;
    overflow:auto;
    border-radius:15px;
    font-size:1.1em;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family:sans-serif;
    color:white;
    outline:100000px solid rgba(255, 255, 255, 0.4)
}

#hat{
    color:rgba(0, 0, 0);
    background-color:transparent;
    font-size:1.3em;
    display:block;
}
